<?xml version="1.0" encoding="utf-8"?>
<packages>
  <package id="ClearScript.V8" version="5.4.6" targetFramework="net452" />
  <package id="Datadog.Trace" version="0.7.1-beta" targetFramework="net452" />
  <package id="Datadog.Trace.ClrProfiler.Managed" version="0.7.1-beta" targetFramework="net452" />
  <package id="Microsoft.CSharp" version="4.5.0" targetFramework="net452" />
  <package id="MsgPack.Cli" version="1.0.0" targetFramework="net452" />
  <package id="Sigil" version="4.7.0" targetFramework="net452" />
  <package id="System.Net.Http" version="4.3.4" targetFramework="net452" />
  <package id="System.Runtime.InteropServices.RuntimeInformation" version="4.3.0" targetFramework="net452" />
</packages>